<!-- views/partials/navbar.twig -->
<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/products/new">Nuevo Producto</a></li>
        <!-- Agrega más enlaces según sea necesario -->
    </ul>
</nav>