<!DOCTYPE html>
<html>
<head>
    <title>Inicio de Sesión</title>
    <style>
        /* Estilos generales */
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #333;
        }

        h1 {
            color: #007bff;
            text-align: center;
            margin-bottom: 20px;
        }

        /* Estilos del formulario */
        form {
            background-color: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
            text-align: center;
        }

        input[type="text"],
        input[type="password"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            box-sizing: border-box;
        }

        input[type="text"]:focus,
        input[type="password"]:focus {
            border-color: #007bff;
            outline: none;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

        button[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            color: #fff;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }

        /* Estilos responsivos */
        @media (max-width: 600px) {
            form {
                padding: 20px;
            }

            input[type="text"],
            input[type="password"] {
                width: calc(100% - 10px);
            }
        }
    </style>
</head>
<body>
    <form action="/login" method="POST">
        <h1>Inicio de Sesión</h1>
        <input type="text" name="username" placeholder="Username" value="patata" required>
        <input type="password" name="password" placeholder="Password" value="123456" required>
        <button type="submit">Iniciar Sesión</button>
    </form>
    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', async function(event) {
            event.preventDefault(); // Evita el envío del formulario
            const username = form.username.value;
            const password = form.password.value;

            const response = await fetch('/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            })
            
            if (response.ok) {
                alert('Usuario logueado correctamente');
                window.location.href = '/protected';
            } else {
                const data = await response.json();
                console.log(data)
                alert(data.message);
            }
        });
    </script>
</body>
</html>