/* styles/navbar.css */
nav {
    background-color: #333;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegúrate de que el navbar esté por encima de otros elementos */
    /* height: 60px; /* Define una altura para el navbar */ 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

body {
    padding-top: 60px; /* Ajusta este valor según la altura de tu navbar */
}